<nav class="db dt-l center w-100 border-box pa3 ph5-l bb b--light-gray shadow-1 ">
  <a class="db dtc-l v-mid mid-gray link dim w-100 w-25-l tc tl-l mb2 mb0-l b " href="/ " title="Kaleb Murphy ">
      Kaleb Murphy
    <!--<img src="http://tachyons.io/img/logo.jpg " class="dib w2 h2 br-100 " alt="Site Name ">-->
    </a>
  <div class="db dtc-l v-mid w-100 w-75-l tc tr-l ">
    <a class="link dim dark-gray f6 f5-l dib mr3 mr4-l " href="/" title="Consulting ">Consulting</a>
    <a class="link dim dark-gray f6 f5-l dib mr3 mr4-l " href="/blog.html " title="Blog ">Blog</a>
    <!-- <a class="link dim dark-gray f6 f5-l dib mr3 mr4-l " href="/resources.html " title="Blog ">Resources</a> -->
    <a class="link dim dark-gray f6 f5-l dib " href="mailto:kalebmurphy@shipatsail.com" title="Contact ">Contact</a>
  </div>
</nav>